{% extends "base.html" %}

{% block content %}
{% autoescape off %}

<div class="about-head" style="justify-content: center;">
    <h1>
        About Me 
    </h1>
</div>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, beatae, architecto, aliquam quae dolores impedit soluta repudiandae iure ex odio minus error. Delectus at molestiae fugiat laudantium atque? Illum, exercitationem.</p><br>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, impedit. Rem distinctio quasi ullam obcaecati, numquam voluptas, itaque consequuntur temporibus, cumque impedit magni harum. Rerum possimus dolorem quas eum beatae?
</p>
{% endautoescape %}
{% endblock content %}