{%  extends "base.html"%}

{% block content %}
<h1>Quick Reads</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ut voluptates illo alias corrupti minus nihil aspernatur atque deserunt reiciendis expedita impedit dolore, omnis esse blanditiis laudantium illum eligendi vitae!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, accusantium repudiandae magnam odit aliquid soluta quae modi temporibus laborum aut dolores laboriosam doloremque quibusdam dolor ducimus nemo harum? Quidem, minus!
</p>
{% endblock content %}